@CHARSET "utf-8";

table.properties {
	width: 100%;
}

table.property_definition th {
	text-align: right;
	padding-right: 1em;
}

a.xref.property {
	font-family: monospace;
}

tr.property_ref td:FIRST-CHILD {
	padding-left: 2em;
}

div.property_definition {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	margin-left: -2em;
}

div.property_long {
	white-space: pre;
}

td.property_group {
	font-family: monospace;
}