@CHARSET "UTF-8";

/* Main */

body {
	padding: 0em;
	margin: 0em;
	
	font-family: sans-serif;
}

div.tocbox {
	width: 30%;
	height: 100%;
	position: fixed;
	overflow: auto;
	z-index: 2;
	padding-left: 1em;
}

div.bodybox {
	overflow: auto;
	position: fixed;
	
	left: 30%;
	right: 5%;
	bottom: 0em;
	top: 0em;
	
	background-color: #e2e2e1;
	
	z-index: 1;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2em;
	padding-bottom: 2em;
}

div.heading {
	margin-bottom: 1em;
	margin-top: 1em;
	color: #014d99;
}

.bodybox div.heading {
	margin-left: -5%;
}

a {
	color: #014d99;
	text-decoration: none;
}

a:HOVER {
	color: #014d99;
}

a:VISITED {
	color: #014d99;
}

/* Heading section */

div.heading.level_1 {
	font-size: xx-large;
}

div.heading.level_2 {
	font-size: x-large;
}

div.heading.level_3 {
	font-size: large;
}

div.heading > .number:after {
	content: ' – ';
}

/* toc */

div.tocbox {
}

/* toc entry */

div.heading.toc {
	font-size: xx-large;
}

div.tocentry.level_1 {
	padding-left: 10pt;
	font-size: larger;
	font-weight: bold;
}

div.tocentry.level_2 {
	padding-left: 20pt;
	font-weight: bold;
}

div.tocentry.level_3 {
	padding-left: 30pt;
}

div.tocentry.level_4 {
	padding-left: 40pt;
}

div.tocentry.level_5 {
	padding-left: 45pt;
	font-size: smaller;
}

div.tocentry.level_6 {
	padding-left: 50pt;
	font-size: smaller; 
}

div.tocentry.level_7 {
	padding-left: 55pt;
	font-size: smaller;
}

div.tocentry .number:after {
	content: ' – ';
}

/* image */

img {
	max-width:100%; max-height:100%;
}

/* objectName */

span.objectName {
	font-family: monospace;
}

/* table */

table {
	background: #f1f1f0;
	padding: .25em;
	margin-top: .25em;
	margin-bottom: .25em;
}

td {
	vertical-align: top;
	padding-left: .25em;
	padding-right: .25em;
}

th {
	vertical-align: top;
	padding-left: .25em;
	padding-right: .25em;
}

/* code */

code {
	white-space: pre;
}

/* heading */

.book_title {
	margin-bottom: 1em;
	color: #014d99;
	
	font-size: xx-large;
	font-weight: bold;
}

.book_version {
	font-weight: bold;
}

.book_authors {
	color: #014d99;
	font-size: larger;
	font-weight: bold;
	
	margin-top: 1em;
}

.book_author_list li {
	list-style: square;
}

.book_copyright {
	margin-bottom: 1em;
}

.book_copyrightMarker {
	margin-left: 2em;
	font-size: smaller;
	font-style: italic;
}

.book_copyrightText {
	margin-left: 2em;
	font-size: smaller;
	font-style: italic;
}
