@CHARSET "UTF-8";

/* Style information for the "content" model */

/*
 * classes should be prefixed by "dcm_"
 */

table.dcm_maximize {
	width: 100%;	
}

table.dcm_simple {
	caption-side: bottom;
}

.dcm_left {
	text-align: left;
}

.dcm_center {
	text-align: center;
}

.dcm_right {
	text-align: right;
}