@CHARSET "UTF-8";

/* Main */

body {
	padding: 0em;
	margin: 0em;
	
	font-family: sans-serif;
}

div.tocbox {
	width: 30%;
	height: 100%;
	position: fixed;
	overflow: auto;
	z-index: 2;
	padding-left: 1em;
}

div.bodybox {
	overflow: auto;
	position: fixed;
	left: 30%;
	right: 5%;
	height: 100%;
	background-color: #e2e2e1;
	z-index: 1;
	padding-left: 5%;
	padding-right: 5%;
}

div.heading {
	margin-bottom: 1em;
	margin-top: 1em;
	color: #014d99;
}

.bodybox div.heading {
	margin-left: -5%;
}

a {
	color: #014d99;
	text-decoration: none;
}

a:HOVER {
	color: #014d99;
}

a:VISITED {
	color: #014d99;
}

/* Heading section */

div.heading.level_1 {
	font-size: xx-large;
}

div.heading.level_2 {
	font-size: x-large;
}

div.heading.level_3 {
	font-size: large;
}

div.heading > .number:after {
	content: ' – ';
}

/* toc */

div.tocbox {
}

/* toc entry */

div.heading.toc {
	font-size: xx-large;
}

div.tocentry.level_1 {
	padding-left: 1em;
	font-size: larger;
	font-weight: bold;
}

div.tocentry.level_2 {
	padding-left: 2em;
	font-weight: bold;
}

div.tocentry.level_3 {
	padding-left: 3em;
}

div.tocentry.level_4 {
	padding-left: 4em;
}

div.tocentry .number:after {
	content: ' – ';
}

/* image */

img {
	max-width:100%; max-height:100%;
}

/* objectName */

span.objectName {
	font-family: monospace;
}

/* table */

table {
	background: #f1f1f0;
	padding: .25em;
	margin-top: .25em;
	margin-bottom: .25em;
}

td {
	vertical-align: top;
	padding-left: .25em;
	padding-right: .25em;
}

th {
	vertical-align: top;
	padding-left: .25em;
	padding-right: .25em;
}